@import "../../style/font.less";

.grid-container {
  display: grid;
  grid-template-columns: 80px;
  grid-template-rows: 25%;
  .grid-items11 {
    grid-row: 1;
    grid-column: 1;
  }
  .grid-items12 {
    grid-row: 1;
    grid-column: 2;
  }
  .grid-items13 {
    grid-row: 1;
    grid-column: 3;
  }
  .grid-items14 {
    grid-row: 1;
    grid-column: 4;
  }
  .grid-items21 {
    grid-row: 2;
    grid-column: 1;
  }
  .grid-items22 {
    grid-row: 2;
    grid-column: 2;
  }
  .grid-items23 {
    grid-row: 2;
    grid-column: 3;
  }
  .grid-items24 {
    grid-row: 2;
    grid-column: 4;
  }
  .grid-items31 {
    grid-row: 3;
    grid-column: 1;
  }
  .grid-items32 {
    grid-row: 1;
    grid-column: 2;
  }
  .grid-items33 {
    grid-row: 3;
    grid-column: 3;
  }
  .grid-items34 {
    grid-row: 3;
    grid-column: 4;
  }
  .grid-items41 {
    grid-row: 4;
    grid-column: 1;
  }
  .grid-items42 {
    grid-row: 4;
    grid-column: 2;
  }
  .grid-items43 {
    grid-row: 4;
    grid-column: 3;
  }
  .grid-items44 {
    grid-row: 4;
    grid-column: 4;
  }
}

