@font-face {
  font-family: 'kai-iconfont';  /* project id 771448 */
  src: url('//at.alicdn.com/t/font_771448_unmj3f6bds.ttf') format('truetype');
}

.kai-iconfont {
  font-family:"kai-iconfont" !important;
  font-size: 32rpx;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kai-icon-error:before {content: "\e623";}
.kai-icon-tick:before {content: "\e6d9";}
.kai-icon-broadcast:before { content: "\e674"; }
.kai-icon-back:before { content: "\e601"; }
.kai-icon-calendar:before { content: "\e602"; }
.kai-icon-camera:before { content: "\e603"; }
.kai-icon-cart:before { content: "\e604"; }
.kai-icon-close:before { content: "\e606"; }
.kai-icon-closebg:before { content: "\e627"; }
.kai-icon-comment:before { content: "\e607"; }
.kai-icon-success:before { content: "\e608"; }
.kai-icon-date:before { content: "\e609"; }
.kai-icon-display:before { content: "\e60a"; }
.kai-icon-down:before { content: "\e60b"; }
.kai-icon-edit:before { content: "\e60c"; }
.kai-icon-flag:before { content: "\e60d"; }
.kai-icon-forward:before { content: "\e60e"; }
.kai-icon-gear:before { content: "\e60f"; }
.kai-icon-hide:before { content: "\e610"; }
.kai-icon-home:before { content: "\e611"; }
.kai-icon-image:before { content: "\e612"; }
.kai-icon-info:before { content: "\e613"; }
.kai-icon-laud:before { content: "\e614"; }
.kai-icon-left:before { content: "\e615"; }
.kai-icon-like:before { content: "\e616"; }
.kai-icon-location:before { content: "\e617"; }
.kai-icon-lock:before { content: "\e618"; }
.kai-icon-mail:before { content: "\e619"; }
.kai-icon-map:before { content: "\e61a"; }
.kai-icon-menu:before { content: "\e61b"; }
.kai-icon-minus:before { content: "\e61c"; }
.kai-icon-mobile:before { content: "\e61d"; }
.kai-icon-more:before { content: "\e61e"; }
.kai-icon-my:before { content: "\e61f"; }
.kai-icon-paper:before { content: "\e620"; }
.kai-icon-pencil:before { content: "\e621"; }
.kai-icon-phone:before { content: "\e622"; }
.kai-icon-plus:before { content: "\e624"; }
.kai-icon-question:before { content: "\e625"; }
.kai-icon-recovery:before { content: "\e626"; }
.kai-icon-right:before { content: "\e628"; }
.kai-icon-search:before { content: "\e629"; }
.kai-icon-share:before { content: "\e62a"; }
.kai-icon-star:before { content: "\e62b"; }
.kai-icon-top:before { content: "\e62c"; }
.kai-icon-trash:before { content: "\e62d"; }
.kai-icon-unlock:before { content: "\e62e"; }
.kai-icon-video:before { content: "\e62f"; }
.kai-icon-starbg:before { content: "\e6a6"; }
.kai-icon-stargap:before { content: "\e634"; }